<!doctype html>
<html>
  <head>

  </head>
  <body>

    <table align="center" width="700" style="color: #001A70;">
      <tbody style="border: 4px solid #001A70">
        <tr>
          <td width="220" style="width: 220px;">
            <a href="https://www.campro-usa.com/" target="_blank">
              <img src="https://eblastimages.blob.core.windows.net/exhibitor-services-main-folder/xpressleads-exhibitor-emailbalsts/CamproUSA/camprousa_logo.png"
                width="auto" height="139"
                alt="CUSA"
                style="display: block; margin-left: auto; margin-right: auto; margin-top: 5px; width: 195px;"
              />
            </a>
          </td>
          <td>
            <p style="font-family: roboto-bold, roboto, sans-serif; font-size: 20px; line-height: 1.7em; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.397);
              display: flex; justify-content: center; text-align: center; font-weight: 900;">
              ONE OF THE FASTEST GROWING MACHINE<br/>TOOL BUILDERS IN THE WORLD
            </p>
          </td>
        </tr>
      </tbody>
    </table>

  </body>
</html>