<!doctype html>
<html>
  <head>

  </head>
  <body>

    <table align="center" width="700" style="color: black;">
      <tbody >
        <tr>
          <td width="230" style="width: 230px;">
            <a href="https://www.campro-usa.com/" target="_blank">
              <img src="https://eblastimages.blob.core.windows.net/exhibitor-services-main-folder/xpressleads-exhibitor-emailbalsts/CamproUSA/camprousa_logo.png"
                width="auto" height="139"
                alt="CUSA"
                style="display: block; margin-left: auto; margin-right: auto; margin-top: 5px; width: 195px;"
              />
            </a>
          </td>
          <td>
            <p style="display: flex; justify-content: center; text-align: center;">ONE OF THE FASTEST GROWING MACHINE<br/>TOOL BUILDERS IN THE WORLD</p>
          </td>
        </tr>
      </tbody>
    </table>

  </body>
</html>